 h1,.h1 {
   @include h1;
 }

 h2,
 .h2 {
   @include h2;
 }

 h3,
 .h3 {
   @include h3;
 }

 h4,
 .h4 {
   @include h4;
 }

 h5,
 .h5 {
   @include h5;
 }

 h6,
 .h6 {
   @include h6;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   text-rendering: optimizeLegibility;
 }

 body,
 p {
   font-family: $primary-font;
   font-size: 16px;
   line-height: normal;
   font-weight: 400;

   @include breakpoint(small down) {}
 }

 p {
   margin-bottom: 25px;
 }
