// --------------------------------------------------
// font size

@function calculate-rem($size) {
  $rem-size: $size / 16px;
  @return $rem-size * 1rem;
}

@mixin font-size($size) {
  font-size: calculate-rem($size);
}

// --------------------------------------------------
// heading styles

@mixin h1 {
  font-family: $primary-font;
}

@mixin h2 {
  font-family: $primary-font;
}

@mixin h3 {
  font-family: $primary-font;
}

@mixin h4 {
  font-family: $primary-font;
}

@mixin h5 {
  font-family: $primary-font;
}

@mixin h6 {
  font-family: $primary-font;
}
